/* NOLAN:
  In Raymond's absence, I've decided to fix the footer's styling.
*/
footer {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

footer .footer-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #24b4a5;
}

footer .footer-top .footer-p {
  margin: 0 8px 0 0;
  padding-top: 4px;
  color: #24b4a5;
  font-family: 'Avenir-Med';
  font-size: 26px;
}

footer .footer-top .heart{
  font-size: 18px;
  color: #24B4A5;
}

footer .footer-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2E2F38;
}

footer .footer-bottom .footer-icon {
  margin: 18px 25px 0;
  color: #2E2F38;
  font-size: 42px;
  cursor: pointer;
}