/* NOLAN:
  Had to readjust size based off of percentage to make the navbar fit properly on my screen. Not sure
  if keeping a hard width is going to do well for those with smaller screens.
*/
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 5;
  background-color: #ffffff;
}

.nav-front {
  height: 69px;
  width: 36%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 888px) {
  .nav-front {
    display: none;
  }
}

.nav-bar .logo-div {
  height: 83px;
  width: 142px;
  margin: 5px 5px 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2e2f38;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.nav-bar .logo-div .nav-logo {
  max-height: 49px;
  max-width: 77px;
  cursor: pointer;
}

nav .link-dec {
  height: 25px;
  display: flex;
  justify-content: center;
  color: #2e2f38;
  font-family: 'Avenir-Med';
  font-size: 20px;
  line-height: 25px;
}

/* NOLAN: Removed 'position' because it was off-setting button alignment. */
nav .nav-button {
  height: 35px;
  width: 142px;
  margin: 0 20px 0 0;
  padding-top: 3px;
  color: #ffffff;
  font-family: 'Avenir-Med';
  font-size: 20px;
  font-weight: 300;
  line-height: 35px;
  cursor: pointer;
  background-color: #2e2f38;
  border: transparent;
  border-radius: 3px;
};

/* RAYMOND: mobile nav...used a tutorial and refactored for our needs dev credited below,may refactor with js/react but
vanilla css was the best option for now */

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

.mobile-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media (min-width:888px) {
  .mobile-nav {
    display: none;
  }
}

.menu {
  height: 25px;
  width: 53px;
  opacity: 0.5;
  color: #2E2F38;  
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: #2E2F38;
  transition: color 0.3s ease;
}

a:hover {
  color: #24B4A5;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  padding-top:15px;
  padding-right:10px;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  width: 40px;
  height: 40px;
  top: 1px;
  left: -10px;
  display: block;
  position: absolute;
  z-index: 2; /* and place it over the hamburger */
  opacity: 0; /* hide this */
  cursor: pointer;
  -webkit-touch-callout: none;
}

/* Just a quick hamburger */
#menuToggle span {
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  display: block;
  position: relative;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  background: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  opacity: 0.55s ease;
  background: #2E2F38;
  border-radius: 3px;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)  {
  transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into a crossmark. */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/* But let's hide the middle one. */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* Ohyeah and the last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  display:none;
  position: absolute;
  background: white;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.45);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(0,0,0,0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform:none;
  transform: translate(-50%, 0);
  display:block;
}