.landing {
  margin: 0 auto;
  border: 1px solid red;
  max-width: 1440px;
}

.landingBackground {
  position: absolute;
  z-index: -10;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Weird quirk: if you don't define a width on an image and it's in a flex-container, it will stretch to 100%. align-self: [flex-start, center...others] will prevent the image from taking 100% of the flex-containers width.  */
  margin: 150px 0 0 200px;
}

.intro img {
  padding: 0 0 25px 0;
}

.btnExplore {
  margin: 20px 0 10px 650px;
}

.ctaContainer{
  display: flex;
  justify-content: center;
}

.ctaContainer img{
  position: absolute;
  z-index: -9;
  margin: 110px 0 0 0;
}
