/* BACKGROUND */
@font-face {
  font-family: Avenir;
  src: url(../../assets/AvenirLTStd-Book.otf);
}

.stage {
  height: 760px;
  width: 100%;
}

.stage-left {
  min-height: 34%;
  width: 71.8%;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #ffffff;
}

.stage-left .stage-title {
  width: 490px;
  margin: 80px 19% 40px 0;
  /* padding-right: 50px; */
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: #2e2f38;
  font-family: Avenir;
  font-size: 2.1rem;
  text-align: justify;
}

.stage-left .stage-title h1 {
  font-size: 3.7rem;
  letter-spacing: 4px;
  line-height: 34px;
}

.stage-left .stage-title p {
  margin: 2px 0;
  line-height: 27px;
}

.stage-left .stage-title .required {
  color: red;
}

.stage-left .lime-card {
  height: 490px;
  width: 440px;
  position: relative;
  z-index: 2;
  background-color: #8fedc2;
}

/* CONTENT PLATE */
.float-plane {
  min-height: 900px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
}

.float-plane .float-box {
  width: 700px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 14px 14px 20px 6px rgba(0, 0, 0, 0.20);
}

.float-plane .float-box .modal-box {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 10px 10px;
  display: flex;
  justify-content: center;
}

.float-plane .float-box .content-box {
  width: 100%;
}

.float-box .content-box .text-box {
  height: 150px;
  width: 100%;
  margin-bottom: 10px;
  font-family: Avenir;
  text-align: justify;
}

.content-box .text-box h5 {
  width: fit-content;
  font-size: 2.5rem;
  line-height: 24px;
  border-bottom: 1px solid #e0e1e2;
}

.content-box .text-box p {
  margin: 8px 0;
  color: #2e2f38;
  text-align: justify;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 18px;
}

.float-plane .float-box .agree-submit {
  width: 100%;
  margin-top: 20px;
  padding: 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.float-box .agree-submit .agree-checktext {
  margin-left: 4px;
  padding-top: 1.5px;
  font-family: Avenir;
  font-size: 1.3em;
}

/* SECURITY CHECKPOINT */
.security-container {
  background-color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.security-header {
  font-size: 1.6rem;
  text-align: center;
  font-family: Avenir;
  width: 100%;
  color: #2E2F38;
  font-weight: bolder;
  position: absolute;
  top: 200px;
}

.button-container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.ui.text.loader {
  margin-top: 50px;
}

.security-input {
  width: 100%;
  margin-top: 10px;
}

.security-container form {
  width: 50%;
  display: flex;
  justify-content: center;
}

.preview-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-submit {
  width: 100%;
  display: flex;
  justify-content: space-between;
}